<div>
    <div class="container">
        <div class="col-lg-12">
            <h1>{{post.titulo}}</h1>
                                <div class="least-content">Fecha de publicacón: {{post.fechacreacion}}</div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-8 list-group">
                <div class="row-content">
                    <textarea readonly="readonly"  style="resize:none" cols="120" rows="15">{{post.cuerpo}}</textarea>
                    <hr>
                    <p><small>Palabras claves: {{post.keywords}}</small></p>
                </div>
                <div class="list-group-separator"></div>
        </div>
            </div>

    </div>